.content-header

%section.content
  .container-fluid
    .row
      .col-12
        = render "admin/shared/edit_form", record: @record, back_url: categories_path(kind: @record.kind),
          tabs: ["default", "content", "medias", "metadata", "tracking", "global_slug", "extra_fields", "albums", "history"]
