.content-header
  .container-fluid
    .row.mb-2
      .col-sm-6
        %h1.m-0 New Post
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item
            %a{:href => "#"} Home
          %li.breadcrumb-item.active Product

%section.content
  .container-fluid
    .row
      .col-md-12
        .card.card-primary.card-outline.card-outline-tabs
          .card-body
            = render "admin/posts/new_form", record: @record, errors: @errors, back_url: posts_path

